.navbar-brand img {width: 50px;}
a {color: #302f38; font-weight: bold;}
.navbar {box-shadow: 5px 2px 10px #0000004d;}
.navbar-brand:hover {border: none !important;}
.active a {color: #FE1300; border-bottom: 2px solid #FE1300;}
.navbar a:hover {color: #FE1300; border-bottom: 2px solid #FE1300; transition: .1s linear all;transform: translateY(-2px);}
.item img {width: 50px; height: 50px;}
.items-in {box-shadow: 0px 0px 5px #00000042; cursor: pointer;}
.main-container {min-height: 90vh;}
.items-in:hover {transition: .1s linear all;transform: translateY(-2px);}
.login-buttons img {width: 100%;}
.login-buttons {width: 250px; border: none;}
.btn-facebook {background: #2D4273;width: 200px;color: white;font-size: 18px;}
.btn-github {background: #121516;width: 200px;color: white;font-size: 18px;}
.loginNext {justify-content: space-evenly}
.social-buttons .btn:hover, .bg-red:hover {opacity: 0.7;} 
.para-text {font-size: 14px;}
.modal-header {position: relative;}
.modal-header .close {position: absolute; top: 0; right: 0;}
.red {color: #FE1300;}
.bg-red {background-color: #FE1300; border: none;}
.btn {color: white;}
span.red {cursor: pointer;}
.sub-logo img {width: 100px; height: 100px;}
.bg-color {border-color: #FE1300 !important; background-color:#fe130014;}
.forupvote:hover .caret-arrow {transition: .1s linear all;transform: translateY(-2px);}
.tags-single {font-size: 12px; color: #FE1300;}
.row-course:hover {background-color: #EEEEEE}
.caret-arrow {width: 20px;}
.forupvote:hover {cursor: pointer;}
.gray-txt {font-size: 12px; color: gray;}
.voted {background: #0000ff52 !important; color: blue; border: 1px solid blue !important;}
a:hover {color: #FE1300;}
.sidebar .divborder {border-bottom: 1px solid rgba(0,0,0,.1); margin-bottom: 20px;}
.multiselect {border: 1px solid black; color: black;}
.dropdown-menu.show {display: block;width: 100%;border: 1px solid black;margin-top: 10px;padding: 20px;max-height: 400px;overflow: scroll;}
.multiselect-container a, .multiselect-container a:hover {border-bottom: none;}
.multiselect-item.filter .input-group-addon {border: 1px solid #ced4da;border-right: none;display: flex;justify-content: center;align-items: center;padding: 5px 10px;}
.multiselect-clear-filter {border: 1px solid #ced4da; border-left: none; border-radius: none;}
.multiselect-clear-filter i {color: black;}
.multiselect-container li.active:focus {outline: 0; box-shadow: none !important;}
.errorsmsg.alert.alert-danger {display: none;}
.successmsg.alert.alert-success {display: none;}
.successmsg li, .errorsmsg li {list-style-type: none;}
.recent, .upvotes {cursor: pointer;}
p.actions .active {color: #FE1300; border-bottom: 2px solid #FE1300;}
p.actions .active:hover {color: #fe1300d9; border-bottom: 2px solid #fe1300d9; transition: .1s linear all;transform: translateY(-2px);}
.tagsfilter {background: #fe130014;padding: 10px 20px;border-radius: 20px; border: 1px solid #FE1300; font-size: 15px;}
.dropdown-menu.logout-option {overflow: auto; padding: 0; margin-top: 0; border: 1px solid rgba(0,0,0,.15);
    width: auto; text-align: center;}
.logout-option a:hover {border-bottom: none;}
input[type="checkbox"].styled:checked {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
}